*,
ul,
li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/fondo.avif);
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* FORMULARIO */

/* formualrio prime */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    border: 1px solid gray;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #63a2da;
    font-size: 25px;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
   
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input[type="submit"] {
    background-color: #63a2da;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.input-group input[type="submit"]:hover {
    background-color: #345f84;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.subtitle {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    margin-bottom: 15px;
}

.error {
    color: red;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.alert-usuarioRegistrado {
    width: 100%;
    height: 30px;
    background-color: #45a049a5;
    text-align: center;
    color: white;
    margin: 10px 0;
    padding-top: 10px;
}

.alert-usuarioNoRegistrado {
    width: 100%;
    height: 30px;
    background-color: #cb1f1fa5;
    text-align: center;
    color: white;
    margin: 10px 0;
    padding-top: 10px;

}




/* PAGINA PRINCIPAL */

.bodyUser {
    align-items: start;
    margin-top: 20px;
}

.container {
    background-color: #f4f4f9ee;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 200px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

.header {
    grid-area: header;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
        position: absolute;
        left: 5px;
        width: 70px;
    }
}

.aside {
    grid-area: aside;
    border: 1px solid gray;

    .list {
        /* border: 1px solid firebrick; */
        width: 250px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin: 0;
    }

    .list__item {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid gray;
    }
}

.main {
    grid-area: main;
    border: 1px solid gray;
}

/* SALUDO */
.saludo{
    color: #63a2da;
}

/* BOTONES EDITAR Y CONSULTAR*/

.list__item {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.3s;
    color: #345f84;
    /* border: 2px solid gray; */
    background-color: #dce1e694;
}


.list__item:hover {
    background-color: #345f84; 
    transform: translateY(-2px);
    color: white;
}



.list__item:focus {
    outline: none; 
    box-shadow: 0 0 5px 2px rgba(99, 162, 218, 0.7); 

}


/* FOOTER */
.footer {
    grid-area: footer;
    border: 1px solid gray;
}

/* Estilos del footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #63a2da; 
    color: white;
    text-align: center;
    /* height: 100px; */
}

.footer-content{
    margin: 5px;
}

.footer-content {
    font-weight: bold;
}

.text__footer{
    margin: 14px;
    font-size: 1rem;
}
